.home {
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    @include main-margin;

    .bio {
        display: flex;
        flex-direction: row;
        align-items: center;
        .photo{
            object-fit: scale-down;
            margin-right: 4rem;
        }
        .about {
            margin-left: 4rem;
            text-align: justify;
        }
    }
}