@import 'config';

.logo{
    padding-top: 0.1rem;
    padding-right: 1rem;
    border-right: 1px solid lighten($text-color, 80%);
}

nav {
    padding-top: 0.2rem;
    padding-left: 1rem;
    .menu-nav {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: 0;
        &__item {
            width: auto;
            height: auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            &:hover{
                font-weight: weight(bold);
                border-bottom: 3px solid lighten($text-color,70%);
            }
        }
        .open {
            font-weight: weight(bold);
            border-bottom: 3px solid $text-color;
        }
        &__link {
            display: inline-block;
            font-size: 1.2rem;
        }
    }
}

// .menu-btn {
//     position: absolute;
//     z-index: 1;
//     right: 1rem;
//     top: 1rem;
//     height: 20px;
//     width: 28px;
//     cursor: pointer;
//     @include transition-ease;

//     &__burger {
//         position: absolute;
//         right: 0;
//         top: 0.5rem;
//         width: 28px;
//         height: 3px;
//         background: $text-color;
//         @include transition-ease;

//         &::before {
//             content: '';
//             position: absolute;
//             top: -8px;
//             width: 28px;
//             height: 3px;
//             background: $text-color;
//             @include transition-ease;
//         }

//         &::after {
//             content: '';
//             position: absolute;
//             top: 8px;
//             width: 28px;
//             height: 3px;
//             background: $text-color;
//             @include transition-ease;
//         }

//         &.open {
//             transform: rotate(720deg);
//             background: transparent;

//             &::before {
//                 transform: rotate(45deg) translate(5px, 8px);
//             }

//             &::after {
//                 width: 28px;
//                 transform: rotate(-45deg) translate(3px, -7px);
//             }
//         }
//     }
// }
